/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  /* max-width: 450px; */
  line-height: 1;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
  cursor: pointer;
  outline: none;
}
input {
  outline: none;
}
/* FONTS IMPORT TEXT AREA */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


.sidebar_toggle {
  color: white;
  cursor: pointer;
  padding: 5%;
  position: fixed;
  z-index: 10;
  right: 5%;
}

.sidebar_container {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5%;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.query_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

.query_label {
  font-size: 25px;
  margin: 20px 5%;
  color: white;
}

.query_input {
  display: flex;
  justify-content: center;
}

.input {
  height: 45px;
  padding: 0 10px;
  border-radius: 20px;
  border: 1px solid gray;
  margin: 5px;
  width: 70%;
}

.btn_search {
  border-radius: 50px;
  height: 45px;
  width: 45px;
  border: none;
  margin: 5px;
}

.results_container {
  padding: 5%;
  background-color: rgb(89, 108, 218);
  /* border: 1px solid red; */
}

.week_weather__nav ul {
  list-style: none;
  color: white;
  line-height: 2em;
  text-align: right;
  margin: 10%;
}

.weather_preview__resume p {
  color: white;
  font-size: 20px;
  margin: 0 10px;
}

.weather_preview__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.weather_preview__main p {
  color: white;
  font-size: 20px;
  margin: 0 10px;
}

.weather_preview__main p:first-child {
  font-size: 28px;
}

.weather_preview__main img {
  width: 70%;
  margin: 0 auto;
}
.weather_details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid yellow; */
}

.weather_details__temp{
  /* border: 1px solid red; */
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.weather_details_temp__city{
  font-size: 1em;
  font-weight: 600;
  padding: 20% 0 0;
}
.weather_details_temp__degrees{
  font-size: 5em;
  font-weight: 600;
  margin: 15% 0 0 7%;
}
.weather_details_temp__feelsLike{
  font-size: 0.75em;
  font-weight: 300;
  padding: 8% 0 0;
}


.weather_details__info{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  flex-wrap: wrap;
  /* border: 1px solid white; */
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.weather_details_info__img{
  width: 42px;
  margin: 10px 0px;
}
.weather_details_info__sunset{
  /* flex: 10; */
  width: 40%;
  border: 1px solid white;
  text-align: center;
}
.weather_details_info__sunrise{
  /* flex: 10; */
  width: 40%;
  border: 1px solid white;
  text-align: center;
}
.weather_details_info__minTemp{
  /* flex: 5; */
  width: 40%;
  border: 1px solid white;
  text-align: center;
}
.weather_details_info__maxTemp{
  /* flex: 5; */
  width: 40%;
  border: 1px solid white;
  text-align: center;
}

.weather_hours{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 3em 0 0;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.weather_hours > div{
  scroll-snap-align: start;
  flex-shrink: 0;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
}
.weather_hours__one,
.weather_hours__two,
.weather_hours__three,
.weather_hours__four,
.weather_hours__five{
  border: 1px solid white;
  /* width: 100px; */
}

